$white: #fff;
$gray1: #333333;
$gray2: #c7c7c7;
$gray3: #e9e9e9;
$gray4: #8d98aa;
$gray5: #1b2532;
$gray6: #e7e9ee;
$gray7: #f9fafb;
$gray8: #111724;
$gray9: #cacfd8;
$gray10: #ebf1ff;
$black: #000;
$blue1: #3374db;
$blue2: #1351ec;
$blue3: #3e4a5b;
$blue4: #002f94;
$yellow: #f4bf30;
$red1: #620007;
$red2: #9f000b;
$green1: #0a4f15;
$green2: #02602e;
$yellow-rgb: rgb(222, 244, 75);
$lighter-rgb: rgb(251, 251, 251);
$light-rgb: rgb(233, 238, 247);
$elevation-rgb: rgba(0, 0, 0, 0.08);

$button-box-shadow: 0 4px 8px $elevation-rgb;
$card-box-shadow: 0 2px 4px $elevation-rgb;
$admin-card-box-shadow: 0 2px 4px $light-rgb;
$dropdown-menu-box-shadow: 0 0.063rem 0.313rem #46464626,
  0 0.125rem 0.125rem #46464626, 0 0.188rem 0.125rem -0.125rem #46464626;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
